{% from "macros.jinja2" import render_options_field %}

{% extends "layout.jinja2" %}
{% block content %}
<form class="adopt_puppy" action="{{ url_for('puppies.adopt', puppy_id=puppy.id) }}" method="post" enc="multipart/form-data">
  {{ form.hidden_tag() }}
  <h3 class="adopt_puppy_head">Who will be adopting {{ puppy.name }}?</h3>
  <div class="adopter_selector">
    {{ render_options_field(form.adopter_ids) }}
  </div>
  <div class="adopt_puppy_submit"><input type="submit" value="Confirm"></div>
</form>
<div class="back_button_container"><a class="back_button" href="{{ url_for('puppies.profile', puppy_id=puppy.id) }}">&lt; Go back</a></div>
{% endblock %}