{% from "puppies/profile_form.jinja2" import render_puppy_profile_form %}

{% extends "layout.jinja2" %}
{% block content %}
{{ render_puppy_profile_form(form=form, action=url_for("puppies.new"), back_href=url_for("puppies.list_all"), heading_text="Register a new puppy", submit_text="Register puppy") }}
{% endblock %}
