{% extends "layout.html" %}
{% block content %}
<div class="adopter_list">
  {% for adopter in adopters %}
  <div class="adopter_card">
    <div class="adopter_info">
      <a href="{{ url_for('adopters.profile', adopter_id=adopter.id) }}">
        <h3 class="adopter_name">{{ adopter.name }}</h3>
      </a>
      <div class="puppy_count">{{ adopter.puppies|length }} puppies</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block pagenav %}
{% if page and pagelimit and pagelimit > 1 %}
<div class="page_nav">
  {% for i in range(1, pagelimit+1) %}
  <span class="page_number {% if i == page %}current{% endif %}">
    <a href="{{ url_for('adopters.list_all', p=i) }}">{{ i }}</a>
  </span>
  {% endfor %}
</div>
{% endif %}
{% endblock %}