{% extends "layout.html" %}
{% block content %}
<div class="adopter">
  <h3 class="adopter_name">{{ adopter.name }}</h3>
  <div class="adopter_bottom_panel">
    <div class="adopter_options">
      <div><a href="{{ url_for('adopters.edit', adopter_id=adopter.id) }}">Edit Adopter Info</a></div>
      <div><a href="{{ url_for('adopters.delete', adopter_id=adopter.id) }}">Delete Adopter Profile</a></div>
    </div>
    <div class="adopted_puppy_photo_list">
      {% if adopter.puppies and adopter.puppies|length %}
      <h4 class="adopted_puppies_head">Puppies</h4>
        {% for puppy in adopter.puppies %}
        <div class="adopted-puppy">
          {% if puppy.profile.picture and puppy.profile.picture|length %}
          <img class="puppy_small_photo"
               src="{{ puppy.profile.picture }}"
               alt="{{ adopter.name }}'s puppy, {{ puppy.name }}"/>
          {% endif %}
          <div class="adopted_puppy_name">{{ puppy.name }}</div>
        </div>
        {% endfor %}
      {% else %}
      <div class="no_puppies_message">NO PUPPIES</div>
      {% endif %}
    </div>
  </div>
  <a href="{{ url_for('adopters.list_all') }}">Go back</a>
</div>
{% endblock %}