{% extends "layout.html" %}
{% block content %}
<form class="adopt_puppy" action="{{ url_for('puppies.adopt', puppy_id=puppy.id) }}" method="post">
  <h3 class="adopt_puppy_head">Who will be adopting {{ puppy.name }}?</h3>
  <div class="adopter_selector">
    {% for adopter in adopters %}
    <div class="adopter_option"><label><input type="checkbox" name="adopter_id" value="{{ adopter.id }}">{{ adopter.name }}</label></div>
    {% endfor %}
  </div>
  <div class="adopt_puppy_submit"><input type="submit" value="Confirm"></div>
</form>
<a href="{{ url_for('puppies.profile', puppy_id=puppy.id) }}">Go back</a>
{% endblock %}