<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Puppy Tycoon 2016</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet'>
</head>
<body>
  <header class="header">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash_box">
      {% for message in messages %}
      <div class="flash_message">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <a href="{{ url_for('puppies.list_all') }}">
      <h1 class="header_text">Puppy Tycoon 2016</h1>
    </a>
    <div class="menu">
      <span><a href="{{ url_for('puppies.list_all') }}">Puppies</a></span>
      <span><a href="{{ url_for('shelters.list_all') }}">Shelters</a></span>
      <span><a href="{{ url_for('adopters.list_all') }}">Adopters</a></span>
    </div>
  </header>
  <main class="main_content">
    {% block content %} {% endblock %}
  </main>
  <footer class="footer">
    {% block pagenav %} {% endblock %}
    <p class="footer_text">Created by Ben Wiley, 2016</p>
  </footer>
</body>
</html>
