<!-- render_field pattern derived from example at:
  http://flask.pocoo.org/docs/0.10/patterns/wtforms/ -->
{% macro render_field(field) %}
{{ field.label }} {{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class="errors">
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro render_options_field(field) %}
{% for option in field %}
<div class="option">{{ option() }} {{ option.label }}</div>
{% endfor %}
{% if field.errors %}
<ul class="errors">
  {% for error in field.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro page_nav(page, pagelimit, route) %}
{% if page and pagelimit and pagelimit > 1 %}
<div class="page_nav">
  {% for i in range(1, pagelimit+1) %}
  <span class="page_number {% if i == page %}current{% endif %}">
    <a href="{{ url_for(route, p=i, **kwargs) }}">{{ i }}</a>
  </span>
  {% endfor %}
</div>
{% endif %}
{% endmacro %}
