{% extends "layout.html" %}
{% block content %}
<ul>
  {% for adopter in adopters %}
  <div class="adopter_card">
    <div class="adopter_info">
      <h3 class="adopter_name">{{ adopter.name }}</h3>
      <div class="adopted_puppy_list">
        {% if adopter.puppies and len(adopter.puppies) }
          <strong>Puppies:</strong> {{ ", ".join(map(lambda p: p.name, adopter.puppies)) }}
        {% else %}
          NO PUPPIES
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</ul>
{% endblock %}