{% extends "layout.html" %}
{% block content %}
<form class="puppy_action puppy_edit" action="{{ url_for('edit_puppy', puppy_id=puppy.id) }}" method="post">
  <h3 class="puppy_edit_head">Edit puppy information</h3>
  {% if puppy.profile.picture and len(puppy.profile.picture) %}
  <img class="puppy_big_photo"
       src="{{ puppy.profile.picture }}"
       alt="A puppy named {{ puppy.name }}"/>
  {% endif %}
  <div class="puppy_name_field">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Spot" value="{{ puppy.name }}" required>
  </div>
  <div class="puppy_gender_field">
    <label for="gender">Gender</label>
    <select name="gender">
      <option value="female" selected="{{ 'true' if puppy.gender is 'female' else 'false' }}">female</option>
      <option value="male" selected="{{ 'true' if puppy.gender is 'male' else 'false' }}">male</option>
    </select>
  </div>
  <div class="puppy_birthdate_field">
    <label for="birthdate">Birthdate</label>
    <input type="date" name="birthdate" value="{{ str(puppy.date_of_birth) }}" required>
  </div>
  <div class="puppy_weight_field">
    <label for="weight">Weight (lbs.)</label>
    <input type="number" name="weight" min="1.0" max="40.0" step="0.5" value="{{ puppy.weight_lbs }}" required>
  </div>
  <div class="puppy_picture_field">
    <label for="picture">Photo URL</label>
    <input type="text" name="picture" value="{{ puppy.profile.picture or '' }}">
  </div>
  <div class="puppy_description_field">
    <label for="description">Description</label>
    <textarea name="description">{{ puppy.profile.description or "" }}</textarea>
  </div>
  <div class="puppy_special_needs_field">
    <label for="special_needs">Special Needs</label>
    <textarea name="special_needs">{{ puppy.profile.special_needs or "" }}</textarea>
  </div>
  <div class="puppy_edit_submit"><input type="submit" value="Save"></div>
</form>
<a href="{{ url_for('view_puppy', puppy_id=puppy.id) }}">Go back</a>
{% endblock %}