{% extends "layout.html" %}
{% block content %}
<div class="puppy">
  <h3 class="puppy_name">{{ puppy.name }}</h3>
  {% if puppy.profile.picture and len(puppy.profile.picture) %}
  <img class="puppy_big_photo"
       src="{{ puppy.profile.picture }}"
       alt="A puppy named {{ puppy.name }}"/>
  {% endif %}
  <div class="puppy_bottom_panel">
    <div class="puppy_info">
      <div class="puppy_home">
        {% if puppy.adopters and len(puppy.adopters) }
          {{ "ADOPTED BY %s" % ", ".join(puppy.adopters).upper() }}
        {% elif puppy.shelter %}
          {{ "LIVING AT %s" % puppy.shelter.upper() }}
        {% else %}
          NO HOME
        {% endif %}
      </div>
      {% if puppy.profile.description and len(puppy.profile.description) %}
      <div class="puppy_fact puppy_description">{{ puppy.profile.description }}</div>
      {% endif %}
      <div class="puppy_fact puppy_gender"><strong>Gender:</strong> {{ puppy.gender }}</div>
      <div class="puppy_fact puppy_birthdate"><strong>Birthdate:</strong> {{ puppy.date_of_birth }}</div>
      <div class="puppy_fact puppy_weight"><strong>Weight (lbs.):</strong> {{ puppy.weight_lbs }}</div>
      {% if puppy.profile.description and len(puppy.profile.description) %}
      <div class="puppy_fact puppy_special_needs">{{ puppy.profile.special_needs }}</div>
      {% endif %}
    </div>
    <div class="puppy_options">
      <div><a href="{{ url_for('edit_puppy', puppy_id=puppy.id) }}">Edit Puppy Info</a></div>
      <div><a href="{{ url_for('delete_puppy', puppy_id=puppy.id) }}">Delete Puppy Profile</a></div>
      <div><a href="{{ url_for('switch_puppy_shelter', puppy_id=puppy.id) }}">Check puppy into new shelter</a></div>
      <div><a href="{{ url_for('switch_puppy_shelter', puppy_id=puppy.id) }}">Check puppy into new shelter</a></div>
      <div><a href="{{ url_for('adopt_puppy', puppy_id=puppy.id) }}">Adopt puppy</a></div>
    </div>
  </div>
</div>
{% endblock %}