{% from "macros.jinja2" import page_nav %}

{% extends "layout.jinja2" %}
{% block content %}
<div class="adopter_list">
  {% for adopter in adopters %}
  <div class="adopter_card">
    <div class="adopter_info">
      <a href="{{ url_for('adopters.profile', adopter_id=adopter.id) }}">
        <h3 class="adopter_name">{{ adopter.name }}</h3>
      </a>
      <div class="puppy_count">{{ adopter.puppies.count() }} puppies</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block pagenav %}
{{ page_nav(page, pagelimit, route="adopters.list_all") }}
{% endblock %}
